.error-container {
    background-color: #8cc7e5;
    width: 850px;
    padding: 15px;
    font-family: "Segoe UI Light",sans-serif;
    margin: 50px auto;
}

.error-body {
    background-color: #565551;
    color: #fff;
    padding-bottom: 40px;
}

    .error-body .header .error .code, .error-body .header .error .message {
        display: inline-block;
    }

    .error-body .header .error {
        border-bottom: 1px solid #fff;
        margin: 0 30px 20px 30px;
        padding: 20px 0 15px 0;
        text-align: center;
    }

        .error-body .header .error .code {
            font-size: 72pt;
            color: #8cc7e5;
            text-align: right;
            margin-right: 25px;
        }

    .error-body.no-code .header .error .code {
        display: none;
    }

    .error-body .header .error .message {
        font-family: "Segoe UI Light",sans-serif;
        font-size: 44pt;
        text-align: left;
    }

    .error-body .more-details .error-info {
        overflow: auto;
    }

    .error-body .more-details ul.links {
        text-align: right;
        float: left;
        width: 33%;
    }

    .error-body .more-details ul.links {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 13px;
        text-transform: uppercase;
        font-family: "Segoe UI Bold",sans-serif;
        font-size: 12pt;
    }

        .error-body .more-details ul.links li {
            margin-bottom: 10px;
        }

            .error-body .more-details ul.links li a {
                text-decoration: none;
                color: #fff;
                background: transparent url('/content/themes/base/images/icon-layout-arrow-link-20-w.png') center right no-repeat;
                padding: 7px 27px 6px 7px;
            }

    .error-body .more-details .more-info {
        float: left;
        width: 66%;
        margin: 0;
        font-family: "Segoe UI Light",sans-serif;
    }

        .error-body .more-details .more-info div {
            padding: 0 35px 0 35px;
            word-wrap: break-word;
        }

    .error-body .more-details .summary {
        font-size: 24pt;
    }

    .error-body .more-details .details {
        font-size: 16pt;
        margin-top: 10px;
    }


.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.mailto {
    color: #62C4EA;
}

    .mailto:hover {
        color: #FFF;
    }

.backlink {
    color: #62C4EA;
}

    .backlink:hover {
        color: #FFF;
    }


body {
    font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
    font-size: 12px;
    margin: 0;
    border: 0;
    height: 100%;
    max-height: 100%;
    background: #666;
    color: #323232;
    background: #000;
    overflow-y: scroll;
}
