

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}



.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav > li > a {
  display: block;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

li {
  line-height: 20px;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.tab-content {
  overflow: auto;
}


.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}


.nav-tabs:after,
.nav-pills:after {
  clear: both;
}