@{
    ViewBag.Title = "Applications";
}
<script type="text/javascript">
    $(function () {
        var slideStatus = false;
        var app = {
            panel: $('.app-panel'),
            grid: $('.app-grid'),
            createToolbar: function () {
                var t = layout.toolbar;
                t.add('Refresh', 'Refresh', 'toolbar-showall', function () {
                    app.load();
                });
                t.add('AssignGroup', 'AssignGroup', 'toolbar-middlongword', function () {
                    //$('.assign-appToGroup-wizard').load('../Home/AssignAppToGroup');
                    var arra = [];
                    var selectedRows = app.grid.vgrid('selectedRows');
                    selectedRows.each(function () {
                        arra.push({ PartitionKey: $(this).attr('appId'), RowKey: $(this).attr('appName') });
                    });
                    window.location = "../Home/AssignAppToGroup?apps=" + JSON.stringify(arra);
                        
                });
            },
            initEvent: function () {
            },
            load: function () {
                app.panel.css({ 'min-height': layout.contantHeight }).vloading().vloading('show');
                $.ajax({
                    type: "GET",
                    url: vstorm.getApiServerUrl() + '/api/application/list',
                    traditional: true,
                    success: function (d) {
                        app.bindData(d.result);
                        app.panel.vloading('hide');
                    },
                    error: function (d) {
                        alert(d);
                        app.panel.vloading('hide');
                    }
                });
            },
            //loadAppGroups:function(selectedRow)
            //{
            //    $.ajax({
            //        type: "GET",
            //        //url: vstorm.getApiServerUrl() + '/api/application/' + selectedRow.attr('appId') + '/groups',
            //        url: vstorm.getApiServerUrl() + '/api/group/list',
            //        traditional: true,
            //        success: function (d) {
            //            app.appsGroup.vgrid('bindData', d.result);
            //            //app.panel.vloading('hide');
            //            //window.app = app;
            //            if (slideStatus == false) {
            //                app.appsGroup.slideToggle();
            //                slideStatus = true;
            //            }
            //        },
            //        error: function (d) {
            //            alert(d);
            //        }
            //    });
            //},
            bindData: function (data) {
                app.grid.vgrid('bindData', data);
            },
            getGridSetting: function () {
                var gridSetting = {
                    caption: 'Applications',
                    url: '/Home',
                    searchAction: 'GetApplications',
                    width: layout.contantWidth,
                    height: 'auto',
                    noDataMsg: 'No applications found',
                    rp: 20,
                    rowProps: [{ name: 'appName', field: 'RowKey' },{name:'appId',field:'PartitionKey'}],
                    orderBy: 'Homepage',
                    usePage: false,
                    filter: true,
                    checkbox: true,
                    scaleWidth: true,
                    columns: [
                        { caption: 'App Name', field: 'RowKey', width: 3, primary: true },
                        { caption: 'App Id', field: 'PartitionKey', width: 2 },
                        { caption: 'App Roles', field: 'AppRoles', width: 2 },
                        { caption: 'App Type', field: 'AppType', width: 1 },
                        { caption: 'HomePage', field: 'HomePage', width: 1 },
                        { caption: 'Identifier Uris', field: 'IdentifierUris', width: 1 }
                    ],
                    primaryColumnClick: function (ev) {
                        ev.stopPropagation();
                        var selectedRow = $(this).parent();
                        window.location = "../../Home/AppsGroups?appId=" + selectedRow.attr('appId');
                    }
                };
                //gridSetting.tbodyMaxHeight = window.screen.height * 2 / 3;
                return gridSetting;
            },
            //appsGroupSetting: function () {
            //    var groupGridSetting = {
            //        caption: 'App_Groups',
            //        url: '/Home',
            //        searchAction: 'GetAppsGroups',
            //        width: layout.contantWidth,
            //        height: 'auto',
            //        noDataMsg: 'No Groups found',
            //        rp: 20,
            //        rowProps: [{ name: 'groupName', field: 'RowKey' }, { name: 'groupId', field: 'PartitionKey' }],
            //        orderBy: '',
            //        usePage: false,
            //        filter: false,
            //        checkbox: true,
            //        scaleWidth: true,
            //        columns: [
            //            { caption: 'Group Name', field: 'RowKey', width: 2, primary: true },
            //            { caption: 'Group Id', field: 'PartitionKey', width: 2 },
            //            { caption: 'Descrption', field: 'Descrption', width: 1 },
            //            { caption: 'Mail NickName', field: 'MailNickName', width: 1 },
            //            { caption: 'Originated From', field: 'OriginatedFrom', width: 1 },
            //            { caption: 'Security Enabled', field: 'SecurityEnabled', width: 1 }
            //        ]

            //    };
            //    return groupGridSetting;
            //},
            init: function () {
                app.initEvent();
                app.grid.vgrid(app.getGridSetting());
                //app.appsGroup.vgrid(app.appsGroupSetting());
            }
        };
        app.init();
        app.load();
        app.createToolbar();
        window.app = app;
    });
</script>
<div class="app-panel">
    <div class="app-grid"></div>
</div>
<div class="assign-appToGroup-wizard">
</div>

