@*@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        user.selectedList = [];
        var removeElement = function (array, a) {           
            if (array && $.isArray(array) && array.length > 0) {
                for (var i = 0; i < array.length; i++) {
                    if (array[i] == a) {
                        array.splice(i, 1);
                        break;
                    }
                }
            }            
        };
        var generateTable = function () {
            var trs = user.grid.vgrid('selectedRows');
            var table = $('<table><thead><tr><td>User Name</td><td>Display Name</td><td>Delete</td></tr></thead><tbody></tbody></table>');
            trs.each(function () {
                var name = $(this).attr('userName');
                var id = $(this).attr('userId');
                var dn = $(this).attr('displayName');
                user.selectedList.push(id);
                var tr = $('<tr tid="' + id + '"><td>' + name +'</td><td>'+dn+'</td><td><img src="/Content/images/delete.jpg"/></td></tr>');
                tr.find('img').click(function () {
                    removeElement(user.selectedList, id);
                    $('tr[tid=' + id + ']').empty();                   
                });
                table.find('tbody').append(tr);
            });
            $('#selectedTable').append(table);
        };
        var assignment = {
            wizard: $('.assign-wizard'),
            panel: $('.assign-panel'),
            init: function () {
                var wizardSetting = {
                    width: 600,
                    height: 450,
                    onCreate: function () {
                        assignment.loadGroups();
                    },
                    finish: function () {
                        var groupId = $("#group").val();
                        for (var i = 0; i < user.selectedList.length; i++) {
                            alert("each function");
                            $.ajax({
                                type: 'Get',
                                url: 'http://localhost:33042/api/assignment/addusertogroup?userId=' + user.selectedList[i] + '&groupId=' + groupId,
                                success: function (r) {
                                    alert("$ajax success");
                                    callback(r, tr, id, actionMsgTemplate);

                                },
                                error: function (e) {
                                    layout.onGetJsonError(id, actionTitle, e);
                                    alert("$ajax error");
                                }
                            });
                        };
                    }
                };
                assignment.wizard.vwizard(wizardSetting).vwizard('open');
            },          
            loadGroups: function () {
                $.ajax({
                    url: 'http://localhost:33042/api/group/list',
                    type: 'Get',
                    success: function (r) {
                        var optionstring = "";
                        for (var i = 0; i < r.result.length; i++) {
                            optionstring += "<option value=\"" + r.result[i].PartitionKey + "\">" + r.result[i].RowKey + "</option>";
                        }
                        $("#group").html("<option value='Choose'>Choose...</option>" + optionstring);
                    },
                    error: function (e) {
                        console.error(e);
                    }
                });
            },           
        };
        assignment.init();
        generateTable();
    });

    function arrRemove(arr, i) {
        return arr.slice(0, i).concat(arr.slice(i));
        alert("Remove id");
    }
</script>
<style>
    .assign-wizard textarea,
    .assign-wizard input, select, span {
        margin: 0 50px 0 50px;
        display: block;
    }
    #cbgroup{

    }
    #selectedTable
    {
    }
    #selectedTable table{
        margin: 0px 0px 0px 55px;
    }
    #selectedTable td {
        border: 1px solid black;
        width: 200px;
        padding: 10px;        
    }
</style>
<div class="assign-wizard">
    <div class="assign-panel">
        <div class="editor-caption">Assign user to group</div>
        <div id="cbgroup">
            <p>
                <span><strong>Group</strong></span>
            </p>
            <p>
                <select id="group" style="width:250px;">
                    <option value=""></option>
                </select>
            </p>           
            <span></span>
        </div>
        <div id="selectedTable">
        </div>
    </div>
</div>*@


@{
    ViewBag.Title = "AssignUserToGroup";
}

<style type="text/css">
    .assignToGroup {
        margin-right: 30px;
        margin-top: 10px;
        float: right;
        opacity: 0.5;
    }

        .assignToGroup:hover {
            opacity: 1;
            cursor: pointer;
        }
</style>


<script type="text/javascript">
    $(function () {
        var users =@Html.Raw(@ViewBag.users);
        var user = {
            panel: $('.user-panel'),
            grid:$('.user-grid'),
            createToolbar: function () {
                var t = layout.toolbar;
                t.add('Refresh', 'Refresh', 'toolbar-showall', function () {
                    user.load();
                });
            },
            initEvent: function () {
            },
            load:function()
            {
                user.panel.css({ 'min-height': layout.contantHeight }).vloading().vloading('show');
                for(var i=0;i<users.length; i++)
                {
                    users[i].del='<img src="../../Content/images/delete.jpg"/>';
                }
                user.bindData(users);
                $.ajax({
                    type: "GET",
                    url: vstorm.getApiServerUrl() + '/api/group/list',
                    traditional: true,
                    success: function (d) {
                        var optionstring = "";
                        for (var i = 0; i < d.result.length; i++) {
                            optionstring += "<option value=\"" + d.result[i].PartitionKey + "\">" + d.result[i].RowKey + "</option>";
                        }
                        $("#userGroup").html("<option value='Choose'>Choose...</option>" + optionstring);
                        user.panel.vloading('hide');
                    },
                    error: function (d) {
                        alert(d);
                        user.panel.vloading('hide');
                    }
                });
            },
            bindData: function (data) {
                user.grid.vgrid('bindData', data);
            },
            getGridSetting: function () {
                var gridSetting = {
                    caption: '',
                    url: '/Home',
                    searchAction: '',
                    width: layout.contantWidth,
                    height: 'auto',
                    noDataMsg: 'No users selected',
                    rp: 20,
                    rowProps: [{ name: 'userId', field: 'PartitionKey' }, { name: 'userName', field: 'RowKey' }],
                    orderBy: '',
                    usePage: false,
                    filter: false,
                    checkbox: false,
                    scaleWidth: true,
                    columns: [
                        { caption: 'User Name', field: 'RowKey' , width:2 },
                        { caption: 'User Id', field: 'PartitionKey', width: 2 },
                        { caption: 'Remove',field:'del',width:1,primary:true }
                    ],
                    primaryColumnClick: function (ev) {
                        ev.stopPropagation();
                        var selectedRow = $(this).parent();
                        var selectedRowIndex=user.grid.vgrid('rowIndex',selectedRow);
                        users.splice(selectedRowIndex,1);
                        user.grid.vgrid('destroy');
                        user.init();
                        user.bindData(users);
                    }
                };
                return gridSetting;
            },
            init: function () {
                //user.initEvent();
                user.grid.vgrid(user.getGridSetting());
            }
        };
        $('.assignToGroup').click(function()
        {
            var groupId = $("#userGroup").val();
            var groupName=$("#userGroup option:selected").text();
            if(groupId=='Choose')
            {
                alert('Please choose your group');
                return;
            }
            for (var i = 0; i < users.length; i++) {
                //alert("add app!");
                $.ajax({
                    type: 'Get',
                    url: vstorm.getApiServerUrl() + '/api/assignment/addusertogroup?userId=' + users[i].PartitionKey + '&groupId=' + groupId + '&groupName='+groupName,
                    success: function (r) {
                        alert("Add users to group successfully!");
                    },
                    error: function (e) {
                        alert("Add users failed!");
                    }
                });
            };
        });
        user.init();
        user.load();
        user.createToolbar();
        window.user = user;
    });
</script>
<div class="user-panel">
    <div style="margin-left:5px">
        <h3>@ViewBag.Title</h3>
    </div>
    <div style="margin-left:10px;margin-top:20px">
        <select id="userGroup" style="width:250px;"></select>
    </div>
    <div class="user-grid"></div>
    <div>
        <img src="../../Content/images/assign.png" class="assignToGroup" />
    </div>
</div>

