@*@{ 
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        app.selectedList = [];
        var removeElement = function (array, a) {
            if (array && $.isArray(array) && array.length > 0) {
                for (var i = 0; i < array.length; i++) {
                    if (array[i] == a) {
                        array.splice(i, 1);
                        break;
                    }
                }
            }
        };
        var generateTable = function () {
            var trs = app.grid.vgrid('selectedRows');
            var table = $('<table><thead><tr><td>App Name</td><td>Delete</td></tr></thead><tbody></tbody></table>');
            trs.each(function () {
                var id = $(this).attr('appId');
                var name = $(this).attr('appName');
                app.selectedList.push(id);
                var tr = $('<tr tid="' + id + '"><td>' + name + '</td><td><img src="/Content/images/delete.jpg"/></td></tr>');
                tr.find('img').click(function () {
                    removeElement(app.selectedList, id);
                    $('tr[tid=' + id + ']').empty();
                    alert('Remove Finished');
                });
                table.find('tbody').append(tr);
            });
            $('#appTable').append(table);
        };
        var assignApp = {
            wizard: $(".assign-app-to-group"),
            panel: $(".assign-app-to-group-panel"),
            init: function () {
                var wizardSetting = {
                    width: 600,
                    height: 450,
                    OnCreate: function () {
                        assignApp.loadGroups();
                    },
                    finish: function () {
                        var groupId = $("#appGroup").val();
                        for (var i = 0; i < app.selectedList.length; i++) {
                            alert("add app!");
                            $.ajax({
                                type: 'Get',
                                url: 'http://localhost:33042/api/assignment/addapptogroup?appId=' + app.selectedList[i] + '&groupId=' + groupId,
                                success: function (r) {
                                    alert("$Ajax add apps to group successfully!");
                                },
                                error: function (e) {
                                    alert("$Ajax add apps failed!");
                                }
                            });
                        };
                        //assignApp.wizard.vwizard('close');
                    }
                };
                assignApp.wizard.vwizard(wizardSetting).vwizard('open');
            },           
            loadGroups: function () {
                $.ajax({
                    url: 'http://localhost:33042/api/group/list',
                    type: 'Get',
                    success: function (r) {
                        var optionstring = "";
                        for (var i = 0; i < r.result.length; i++) {
                            optionstring += "<option value=\"" + r.result[i].PartitionKey + "\">" + r.result[i].RowKey + "</option>";
                        }
                        $("#appGroup").html("<option value='Choose'>Choose...</option>" + optionstring);
                    },
                    error: function (e) {
                        console.error(e);
                    }
                });
            },           
        };
        assignApp.init();
        assignApp.loadGroups();
        generateTable();
    })
</script>
<style>
    #appTable table
    {
        margin:0px 0px 0px 55px;
    }

    #appTable td{
        border:1px solid black;
        width:200px;
        padding:10px;
    }
</style>

<div class="assign-app-to-group">
    <div class="assign-app-to-group-panel">
        <div class="editor-caption">Assign application to group</div>
        <div>
            <p>
                <span><strong>Group</strong></span>
            </p>
            <p>
                <select id="appGroup" style="width:250px;">
                    <option value=""></option>
                </select>
            </p>            
            <span></span>
            <div>
                <div id="appTable"></div>
            </div>
        </div>
    </div>
</div>*@


@{
    ViewBag.Title = "AssignAppToGroup";
}

<style type="text/css">
    .assignToGroup{
        margin-right:30px;
        margin-top:10px;
        float:right;
        opacity:0.5;
    }
    .assignToGroup:hover {
        opacity:1;
        cursor: pointer;
    }
</style>


<script type="text/javascript">
    $(function () {
        var apps =@Html.Raw(@ViewBag.apps);
        var app = {
            panel: $('.app-panel'),
            grid:$('.app-grid'),
            createToolbar: function () {
                var t = layout.toolbar;
                t.add('Refresh', 'Refresh', 'toolbar-showall', function () {
                    app.load();
                });
            },
            initEvent: function () {
            },
            load:function()
            {
                app.panel.css({ 'min-height': layout.contantHeight }).vloading().vloading('show');
                for(var i=0;i<apps.length; i++)
                {
                    apps[i].del='<img src="../../Content/images/delete.jpg"/>';
                }
                app.bindData(apps);
                $.ajax({
                    type: "GET",
                    url: vstorm.getApiServerUrl() + '/api/group/list',
                    traditional: true,
                    success: function (d) {
                        var optionstring = "";
                        for (var i = 0; i < d.result.length; i++) {
                            optionstring += "<option value=\"" + d.result[i].PartitionKey + "\">" + d.result[i].RowKey + "</option>";
                        }
                        $("#appGroup").html("<option value='Choose'>Choose...</option>" + optionstring);
                        app.panel.vloading('hide');
                    },
                    error: function (d) {
                        alert(d);
                        app.panel.vloading('hide');
                    }
                });
            },
            bindData: function (data) {
                app.grid.vgrid('bindData', data);
            },
            getGridSetting: function () {
                var gridSetting = {
                    caption: '',
                    url: '/Home',
                    searchAction: '',
                    width: layout.contantWidth,
                    height: 'auto',
                    noDataMsg: 'No apps selected',
                    rp: 20,
                    rowProps: [{ name: 'appId', field: 'PartitionKey' }, { name: 'appName', field: 'RowKey' }],
                    orderBy: '',
                    usePage: false,
                    filter: false,
                    checkbox: false,
                    scaleWidth: true,
                    columns: [
                        { caption: 'App Name', field: 'RowKey' , width:2 },
                        { caption: 'App Id', field: 'PartitionKey', width: 2 },
                        { caption: 'Remove',field:'del',width:1,primary:true }
                    ],
                    primaryColumnClick: function (ev) {
                        ev.stopPropagation();
                        var selectedRow = $(this).parent();
                        var selectedRowIndex=app.grid.vgrid('rowIndex',selectedRow);
                        apps.splice(selectedRowIndex,1);
                        app.grid.vgrid('destroy');
                        app.init();
                        app.bindData(apps);
                    }
                };
                return gridSetting;
            },
            init: function () {
                app.initEvent();
                app.grid.vgrid(app.getGridSetting());
            }
        };
        $('.assignToGroup').click(function() 
        {
            var groupId = $("#appGroup").val();
            for (var i = 0; i < apps.length; i++) {
                //alert("add app!");
                $.ajax({
                    type: 'Get',
                    url: vstorm.getApiServerUrl() + '/api/assignment/addapptogroup?appId=' + apps[i].PartitionKey + '&groupId=' + groupId,
                    success: function (r) {
                        alert("Add apps to group successfully!");
                    },
                    error: function (e) {
                        alert("Add apps failed!");
                    }
                });
            }; 
        });
        app.init();
        app.load();
        app.createToolbar();
        window.app = app;
    });
</script>
<div class="app-panel">
    <div style="margin-left:5px">
        <h3>@ViewBag.Title</h3>
    </div>
    <div style="margin-left:10px;margin-top:20px">
            <select id="appGroup" style="width:250px;">
            </select>
    </div>
    <div class="app-grid"></div>
    <div>
        <img src="../../Content/images/assign.png" class="assignToGroup" /> 
    </div>
</div>
