
@{
    Layout = null;
}

<script>
    $(function () {
        var assignment = {
            wizard: $('.assign-wizard'),
            panel: $('.assign-panel'),
            init: function () {
                var wizardSetting = {
                    width: 700,
                    height: 600,
                    showNavButtons: true,
                    showCloseButton: false,
                    onCreate: function () {
                    },
                    finish: function () {     
                        return true;
                    }
                };
                assignment.wizard.vwizard(wizardSetting).vwizard('open');
            }
        };
        assignment.init();
    });
</script>


<style>
    .assign-wizard textarea,
    .assign-wizard input, select {
        margin: 0 50px 0 50px;
        display: block;
    }
        #tbDetail {
            border:solid ; 
            border-width:1px 0px 0px 1px;
            margin:40px;
        }
        #tbDetail td{
            border:solid ; 
            border-width:0px 1px 1px 0px; 
            padding:10px 10px 10px 10px;
        }
</style>


<div class="assign-wizard" >
    <div class="assign-panel" style="overflow:auto">
        <div class="editor-caption" style="margin-left:20px"><strong>Detail</strong></div>
        <div id="cbDetail" >
            <table id="tbDetail">
            </table>
        </div>
    </div>
</div>

<script>
    var params=@Html.Raw(@ViewBag.param);
   
    for(var item in params)
    {

        $("#tbDetail").append("<tr><td><strong>" + item + "</strong></td>　<td colspan='8'>" + params[item] + "</td></tr>");
        
    }
</script>
