@{
    ViewBag.Title = "Groups";
}
<script type="text/javascript">
    $(function () {
        var app = {
            panel: $('.group-panel'),
            grid: $('.group-grid'),
            createToolbar: function () {
                var t = layout.toolbar;
                t.add('Refresh', 'Refresh', 'toolbar-showall', function () {
                    app.load();
                });
                t.add('AddGroup', 'AddGroup', 'toolbar-add', function () {
                    $('.assign-group-wizard').load('../Home/AddGroup');
                });

                t.add('DelGroup', 'DelGroup', 'toolbar-delete', function () {
                    var selectedRows = app.grid.vgrid('selectedRows');
                    if (selectedRows.length < 1) {
                        alert('Please Choose the Group you want Delete!');
                        return;
                    }
                    deleteGroup();
                });

                function deleteGroup() {
                    layout.confirm('Remove this Group?', yesToDeleteGroup, null);
                }

                function yesToDeleteGroup() {
                    //var arra = [];
                    //var selectedRows = user.grid.vgrid('selectedRows');
                    //selectedRows.each(function () {
                    //    arra.push({ PartitionKey: $(this).attr('userId'), RowKey: $(this).attr('userName') });
                    //});
                    alert('delete Group done!');
                };
            },
            initEvent: function () {
            },
            load: function () {
                app.panel.css({ 'min-height': layout.contantHeight }).vloading().vloading('show');
                $.ajax({
                    type: "GET",
                    url: vstorm.getApiServerUrl() + '/api/group/list',
                    traditional: true,
                    success: function (d) {
                        app.bindData(d.result);
                        app.panel.vloading('hide');
                    },
                    error: function (d) {
                        alert(d);
                        app.panel.vloading('hide');
                    }
                });
            },
            bindData: function (data) {
                app.grid.vgrid('bindData', data);
            },
            getGridSetting: function () {
                var gridSetting = {
                    caption: 'Groups',
                    url: '/Home',
                    searchAction: 'GetApplications',
                    width: layout.contantWidth,
                    height: 'auto',
                    noDataMsg: 'No applications found',
                    rp: 20,
                    rowProps: [{ name: 'cid', field: 'id' }],
                    orderBy: 'Homepage',
                    usePage: false,
                    filter: true,
                    checkbox: true,
                    scaleWidth: true,
                    columns: [
                        { caption: 'Group Name', field: 'RowKey', width: 2, primary: true },
                        { caption: 'Group Id', field: 'PartitionKey', width: 2 },
                        { caption: 'Descrption', field: 'Descrption', width: 1 },
                        { caption: 'Mail NickName', field: 'MailNickName', width: 1 },
                        { caption: 'Originated From', field: 'OriginatedFrom', width: 1 },
                        { caption: 'Security Enabled', field: 'SecurityEnabled', width: 1 }
                    ],
                    //primaryColumnClick: function (ev) {
                    //    ev.stopPropagation();
                    //    var tr = $(this).parent();
                    //    self.location = "../../Home/ApplicationDetail?id=" + tr.attr('cid');
                    //}
                };
                gridSetting.tbodyMaxHeight = window.screen.height * 2 / 3;
                return gridSetting;
            },
            init: function () {
                app.initEvent();
                app.grid.vgrid(app.getGridSetting());
            }
        };
        app.init();
        app.load();
        app.createToolbar();
        window.app = app;
    });
</script>
<div class="group-panel">
    <div class="group-grid"></div>
</div>
<div class="assign-group-wizard">
</div>


