
@{
    ViewBag.Title = "ListAppsGroup";
}
<script type="text/javascript">
    $(function () {
        var app = {
            panel: $('.appGroups-panel'),
            grid: $('.appGroups-grid'),
            createToolbar: function () {
                var t = layout.toolbar;
                t.add('Refresh', 'Refresh', 'toolbar-showall', function () {
                    app.load();
                });
            },
            initEvent: function () {
            },
            load: function () {
                app.panel.css({ 'min-height': layout.contantHeight }).vloading().vloading('show');
                $.ajax({
                    type: "GET",
                    url: vstorm.getApiServerUrl() + 'api/application/',
                    traditional: true,
                    success: function (d) {
                        app.bindData(d.result);
                        app.panel.vloading('hide');
                    },
                    error: function (d) {
                        alert(d);
                        app.panel.vloading('hide');
                    }
                });
            },
            bindData: function (data) {
                app.grid.vgrid('bindData', data);
            },
            getGridSetting: function () {
                var gridSetting = {
                    caption: 'Groups',
                    url: '/Home',
                    searchAction: 'GetApplications',
                    width: layout.contantWidth,
                    height: 'auto',
                    noDataMsg: 'No applications found',
                    rp: 20,
                    rowProps: [{ name: 'cid', field: 'id' }],
                    orderBy: 'Homepage',
                    usePage: false,
                    filter: true,
                    checkbox: true,
                    scaleWidth: true,
                    columns: [
                        { caption: 'Group Name', field: 'RowKey', width: 2, primary: true },
                        { caption: 'Group Id', field: 'PartitionKey', width: 2 },
                        { caption: 'Descrption', field: 'Descrption', width: 1 },
                        { caption: 'Mail NickName', field: 'MailNickName', width: 1 },
                        { caption: 'Originated From', field: 'OriginatedFrom', width: 1 },
                        { caption: 'Security Enabled', field: 'SecurityEnabled', width: 1 }
                    ],
                    primaryColumnClick: function (ev) {
                        ev.stopPropagation();
                        var tr = $(this).parent();
                        self.location = "../../Home/ApplicationDetail?id=" + tr.attr('cid');
                    }
                };
                gridSetting.tbodyMaxHeight = window.screen.height * 2 / 3;
                return gridSetting;
            },
            init: function () {
                app.initEvent();
                app.grid.vgrid(app.getGridSetting());
            }
        };
        app.init();
        app.load();
        app.createToolbar();
        window.app = app;
    });
</script>
<div class="appGroups-panel">
    <div class="appGroups-grid"></div>
</div>

