@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        var quick = {
            panel: $('#quickCreateHVM'),
            button: $('#btnQuickCreate'),
            validate: function () {
                return $('input,select', this.panel).vvalidate('validate') == 'success';
            },
            getGroupParams: function () {
                var params = {};
                $('input[name],select[name]', this.panel).each(function () {
                    var t = $(this);
                    params[t.attr('name')] = t.val();
                });
                return params;
            },
            initEvent: function () {
                var actionID = 'quickCreate', title = 'Quick Create AAD Group';
                this.button.click(function () {
                    var data = quick.getGroupParams();
                    data.PartitionKey = '@Guid.NewGuid()';
                    data.MailNickname = data.Descrption;
                    layout.collapseCmdPanel();
                    layout.action.create(actionID, { title: title });


                    //$.ajax({
                    //    type: "Post",
                    //    url: ' @CommonHelper.GetWebAPiUrl()' + '/api/group/add',
                    //    data: data,
                    //    traditional: true,
                    //    success: function (d) {
                    //        layout.action.success(actionID, 'Add Group successful!');
                    //        return;
                    //    },
                    //    error: function (d) {
                    //        layout.action.error(actionID, d.result);
                    //    }
                    //});

                    layout.action.error(actionID, 'Operation was denied due to insufficient privilege, please contact admin of the ITALite！');

                    return;

                });
            }
        };
        quick.initEvent();
    })
</script>
<div id="quickCreateHVM">
    <table>
        <tr>
            <td>
                <div><span>Group NAME:</span></div>
            </td>
            <td colspan="3">
                <div>
                    <input type="text" name="RowKey" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div><span>DESCRIPTION:</span></div>
            </td>
            <td colspan="3">
                <div>
                    <input type="text" name="Descrption" />
                </div>
            </td>
        </tr>
        
        <tr>
            <td colspan="4" class="buttons">
                <span>
                    Create AAD GROUP
                </span>
                <button id="btnQuickCreate" class="button button-ok"></button>
            </td>
        </tr>
    </table>
</div>