
@{
    ViewBag.Title = "RBACRoleUsers";
}

<script type="text/javascript">
    $(function () {
        var user = {
            panel: $('.user-panel'),
            rolesUser: $('.role-user'),
            createToolbar: function () {
                var t = layout.toolbar;
                t.add('Refresh', 'Refresh', 'toolbar-showall', function () {
                    user.load();
                });
            },
            initEvent: function () {
            },
            load:function()
            {
                user.panel.css({ 'min-height': layout.contantHeight }).vloading().vloading('show');
                $.ajax({
                    type: "GET",
                    url: ' @CommonHelper.GetWebAPiUrl()' + '/api/role/rbac/' + '@ViewBag.roleId' + '/users',
                    traditional: true,
                    success: function (d) {
                        user.bindData(d.result);
                        user.panel.vloading('hide');
                    },
                    error: function (d) {
                        alert(d);
                        user.panel.vloading('hide');
                    }
                });
            },
            bindData: function (data) {
                var newData = new Array();
                for (i = 0; i < data.length;i++)
                {
                    var str = new Object();
                    str.roleName = '@ViewBag.roleName';
                    str.userName = 'External AAD User';
                    str.Type = data[i].Type;
                    str.Scope = data[i].Scope;
                    var scope = data[i].Scope;
                    scope = scope.substring(scope.lastIndexOf('\/') + 1);
                    str.DisplayScope = '<a href="#" onclick=self.location="../../Home/Resource?groupID="+\''+scope+'\'+"&resGroupID="+\''+str.Scope+'\';return false;">' + str.Scope + '</a>';
                    str.UpdatedOn = data[i].UpdatedOn;
                    $.ajax({
                        type: "GET",
                        async:false,
                        url: ' @CommonHelper.GetWebAPiUrl()' + '/api/user/' + data[i].PartitionKey,
                        traditional: true,
                        success: function (d) {
                            if (d.result[0]&& d.result[0].DisplayName)
                                str.userName=d.result[0].DisplayName;
                        },
                        error: function (d) {
                        }
                    });
                    newData[i] = str;
                }
                user.rolesUser.vgrid('bindData', newData);
            },
            rolesUserSetting: function () {
                var userGridSetting = {
                    caption: 'RbacRole_Users',
                    url: '/Home',
                    searchAction: 'GetRbacRolesUsers',
                    width: layout.contantWidth,
                    height: 'auto',
                    noDataMsg: 'No Users found',
                    rp: 20,
                    rowProps: [{ name: 'userId', field: 'PartitionKey' }, { name: 'roleId', field: 'RowKey' }],
                    orderBy: '',
                    usePage: false,
                    filter: false,
                    checkbox: false,
                    scaleWidth: true,
                    columns: [
                        { caption: 'User Name', field: 'userName', width: 1},
                        { caption: 'Role Name', field: 'roleName', width: 1},
                        { caption: 'Type', field: 'Type', width: 2 },
                        { caption: 'Scope', field: 'DisplayScope', width: 2 },
                        { caption: 'UpdatedOn', field: 'UpdatedOn', width: 2 }
                    ]
                };
                return userGridSetting;
            },
            init: function () {
                user.initEvent();
                user.rolesUser.vgrid(user.rolesUserSetting());
                $(".vgrid-caption").append('<img src="../../Content/images/back.png" class="BackBtnStyle" /> ');
                $('.BackBtnStyle').on("click", function (event) {
                    event.preventDefault();
                    history.back();
                });              
            }
        };
        
        
        user.init();
        user.load();
        user.createToolbar();
        window.roleUsers = user;
        document.cookie = "RoleTabIndex=1";
    });
</script>
<div class="user-panel">
    <div class="role-user" style="padding-left:10px"></div>
</div>

