@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "RMResourceGroups";
}

<script type="text/javascript">
    $(function () {
        var resourceGroup = {
            panel: $('.res-panel'),
            grid: $('.res-grid'),
            createToolbar: function () {
                var t = layout.toolbar;
                t.add('Refresh', 'Refresh', 'toolbar-showall', function () {
                    resourceGroup.load();
                });

                t.add('DelGroup', 'DelGroup', 'toolbar-delete', function () {
                    var selectedRows = resourceGroup.grid.vgrid('selectedRows');
                    if (selectedRows.length < 1) {
                        var errorId = 1;
                        var title = 'Must selecte items for delete!';
                        layout.action.create(errorId, { title: title });
                        layout.action.warning(errorId, 'At least one item must be selected!');
                        return;
                    }
                    deleteGroup();
                });
                function deleteGroup() {
                    layout.confirm('Remove this Group?', yesToDeleteGroup, null);
                }

                function yesToDeleteGroup() {
                    //var arra = [];
                    //var selectedRows = user.grid.vgrid('selectedRows');
                    //selectedRows.each(function () {
                    //    arra.push({ PartitionKey: $(this).attr('userId'), RowKey: $(this).attr('userName') });
                    //});
                    var succId = 0;
                    var title = "Operation was denied due to insufficient privilege, please contact admin of the ITALite！";
                    layout.action.create(succId, { title: title });
                    layout.action.error(succId, 'delete Group.....');
                };
            },



            load: function () {
                resourceGroup.panel.css({ 'min-height': layout.contantHeight , 'max-height': layout.contantHeight }).vloading().vloading('show');
                $.ajax({
                    type: "GET",
                    url: ' @CommonHelper.GetWebAPiUrl()' + '/api/RMResource/listGroups',
                    traditional: true,
                    success: function (d) {
                        resourceGroup.bindData(d.result);
                        resourceGroup.panel.vloading('hide');
                    },
                    error: function (d) {
                        alert(d);
                        resourceGroup.panel.vloading('hide');
                    }
                });
            },
            bindData: function (data) {
                resourceGroup.grid.vgrid('bindData', data);
            },
            getGridSetting: function () {
                var gridSetting = {
                    caption: 'ResourceGroups',
                    url: '/Home',
                    searchAction: 'GetApplications',
                    width: layout.contantWidth,
                    height: layout.contantHeight,
                    noDataMsg: 'No resources found',
                    rp: 20,
                    rowProps: [{ name: 'groupName', field: 'PartitionKey' }, { name: 'groupID', field: 'resourceGroupID' }],
                    orderBy: 'Homepage',
                    usePage: false,
                    filter: true,
                    checkbox: true,
                    scaleWidth: true,
                    columns: [
                        { caption: 'Group Name', field: 'PartitionKey', width: 2, primary: true },
                        { caption: 'Location', field: 'RowKey', width: 2 },
                        { caption: 'Group ID', field: 'resourceGroupID', width: 6},
                    ],
                    primaryColumnClick: function (ev) {
                        ev.stopPropagation();
                        var tr = $(this).parent();
                        var groupID = tr.attr('groupName');
                        var resGroupID = tr.attr('groupID');
                        self.location = "../../Home/Resource?groupID=" + groupID+'&resGroupID='+resGroupID;
                    }
                };
                return gridSetting;
            },
            init: function () {
                resourceGroup.grid.vgrid(resourceGroup.getGridSetting());
            },
        };
        resourceGroup.init();
        resourceGroup.load();
        resourceGroup.createToolbar();
        window.resourceGroup = resourceGroup;
    });

</script>
<div class="res-panel">
    <div class="res-grid"></div>

</div>
