@{
    ViewBag.Title = "UserDetail";
}
<script type="text/javascript">
    $(function () {
        var isRemoving = false;
        var userDetail = {
            groupid :null,
            groupname :null,
            userid : null,
            panel: $('.user-panel'),
            groupGrid: $('.group-grid'),
            appGrid: $('.app-grid'),
            createToolbar: function () {
                var t = layout.toolbar;
                t.add('Refresh', 'Refresh', 'toolbar-showall', function () {
                    userDetail.load();
                });
            },
            load: function () {
                userDetail.panel.css({ 'min-height': layout.contantHeight * 2 / 3, 'max-height': layout.contantHeight * 2 / 3 }).vloading().vloading('show');
                $.ajax({
                    type: "GET",
                    url: vstorm.getApiServerUrl() + '/api/user/{userId}/groups?userId='+'@ViewBag.userID',
                    traditional: true,
                    success: function (d) {
                        var groups = "";
                        window.userGroups = d.result;
                        for (var i = 0; i < d.result.length; i++) {
                            var group = d.result[i];
                            group.del = '<a href="#" onclick="userDetail.verifyRemove(' + i + ');return false;">remove</a>';
                            group.GroupLevel = 1;
                            //groups += group.UserPrincipleName + "," + group.RowKey + ";";
                            groups += group.RowKey + "," ;
                        }
                        userDetail.bindGroupData(d.result);
                        if (d.result.length > 0) {
                            groups += d.result[0].UserPrincipleName; //groups : ID1,ID2...IDN,UserPrincipleName; 
                            $.ajax({
                                type: "GET",
                                url: vstorm.getApiServerUrl() + 'api/user/' + groups + '/apps',
                                traditional: true,
                                success: function (f) {
                                    userDetail.bindAppData(f.result);
                                    userDetail.panel.vloading('hide');
                                }
                            })
                        }
                        else
                            userDetail.bindAppData(d.result);
                        userDetail.panel.vloading('hide');
                    },
                    error: function (d) {
                        alert(d);
                        userDetail.panel.vloading('hide');
                    }
                });
            },
            bindGroupData: function (data) {
                userDetail.groupGrid.vgrid('bindData', data);
            },
            bindAppData: function(data){
                userDetail.appGrid.vgrid('bindData',data);
            },
            yesToRemove: function()
            {
                $.ajax({
                    type: "GET",
                    url: vstorm.getApiServerUrl() + 'api/assignment/removeuserfromgroup?userId='+userid+'&groupId='+groupid,
                    traditional: true,
                    success: function () {
                        userDetail.load();
                    }
                })
            },
            remove: function (index) {
                groupid = userGroups[index].RowKey;
                groupname = userGroups[index].GroupName;
                userid = userGroups[index].PartitionKey;
                layout.confirm('Remove User From '+groupname+'?', userDetail.yesToRemove, null);
            },
            verifyRemove: function (index) {
                if (isRemoving == true) {
                    return;
                }
                isRemoving = true;
                //groupid = userGroups[index].RowKey;
                //groupname = userGroups[index].GroupName;
                //userid = userGroups[index].PartitionKey;
                userGroups[index].del = '<a href="#" onclick="userDetail.yRemove(' + index + ');return false;">yes</a> &nbsp; <a href="#" onclick="userDetail.nRemove(' + index + ');return false;">no</a>';
                userDetail.groupGrid.vgrid('destroy');
                userDetail.init();
                userDetail.bindGroupData(userGroups);
            },
            yRemove: function (index) {
                userDetail.groupGrid.vgrid('destroy');
                userDetail.appGrid.vgrid('destroy');
                userDetail.init();
                $.ajax({
                    type: "GET",
                    url: vstorm.getApiServerUrl() + 'api/assignment/removeuserfromgroup?userId=' + userGroups[index].PartitionKey + '&groupId=' + userGroups[index].RowKey,
                    traditional: true,
                    success: function () {
                        userDetail.load();
                    }
                })
            },
            nRemove: function (index) {
                userGroups[index].del = '<a href="#" onclick="userDetail.verifyRemove(' + index + ');return false;">remove</a>';
                userDetail.groupGrid.vgrid('destroy');
                userDetail.init();
                userDetail.bindGroupData(userGroups);
                isRemoving = false;
            },
            getAppGridSetting: function () {
                var gridSetting = {
                    caption: 'User-Apps',
                    url: '/Home',
                    searchAction: 'GetApplications',
                    width: layout.contantWidth,
                    height: layout.contantHeight *1 / 2,
                    noDataMsg: 'No applications found',
                    rp: 20,
                    //rowProps: [{ name: 'userName', field: 'RowKey' }, { name: 'userId', field: 'PartitionKey' }, { name: 'displayName', field: 'DisplayName' }],
                    orderBy: 'Homepage',
                    usePage: false,
                    filter: true,
                    checkbox: false,
                    scaleWidth: true,
                    columns: [
                        { caption: 'User PrincipleName', field: 'UserPrincipleName', width: 4 },
                        { caption: 'App Name', field: 'AppName', width: 4 },
                        { caption: 'App ID', field: 'PartitionKey', width: 4 },
                        { caption: 'OperationType', field: 'OperationTypes', width: 2 },
                        { caption: 'Group Name', field: 'GroupName', width: 2 },
                        { caption: 'Group ID', field: 'RowKey', width: 4 }
                    ]
                };
                return gridSetting;
            },
            getGroupGridSetting: function () {
                var gridSetting = {
                    caption: 'User-Groups <img src="../../Content/images/back.png" class="BackBtnStyle" />',
                    url: '/Home',
                    searchAction: 'GetApplications',
                    width: layout.contantWidth,
                    height: layout.contantHeight * 1 / 2,
                    noDataMsg: 'No groups found',
                    rp: 20,
                    //rowProps: [{ name: 'userName', field: 'RowKey' }, { name: 'userId', field: 'PartitionKey' }, { name: 'displayName', field: 'DisplayName' }],
                    orderBy: 'Homepage',
                    usePage: false,
                    filter: true,
                    checkbox: false,
                    scaleWidth: true,
                    columns: [
                        { caption: 'User PrincipleName',field:'UserPrincipleName',width:4},
                        { caption: 'Group Name', field: 'GroupName', width: 2 },
                        { caption: 'Group ID', field: 'RowKey',width:4},
                        { caption: 'Updated By', field: 'UpdatedBy', width: 2 },
                        { caption: 'Group Level', field: 'GroupLevel', width: 2 },
                        { caption: 'Remove', field: 'del', width: 2 }
                    ]
                };
                return gridSetting;
            },

            init: function () {
                userDetail.groupGrid.vgrid(userDetail.getGroupGridSetting());
                userDetail.appGrid.vgrid(userDetail.getAppGridSetting());
                $(".group-grid").show();
                $('.app-grid').show();
                //$(".group-grid").append('<img src="../../Content/images/back.png" class="BackBtnStyle" /> ');
                $('.BackBtnStyle').on("click", function (event) {
                    event.preventDefault();
                    history.back(-1);
                });
            },
        };
        userDetail.init();
        userDetail.load();
        userDetail.createToolbar();
        window.userDetail = userDetail;
    });

</script>

<div class="user-panel">
    <div class="group-grid"></div>
    <div class="app-grid"></div>
</div>