<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>-->

  <configSections>
    <section name="EnforcementProvider" type="Microsoft.IT.Security.Core.Configuration.ProviderSection, Microsoft.IT.Security.Core" requirePermission="false" allowDefinition="MachineToApplication" />
  </configSections>
  <EnforcementProvider defaultProvider="VelocityProvider">
    <Providers>
      <add name="VelocityProvider" description="VelocityProvider" type="Microsoft.IT.Security.ItaLite.PolicySetProvider.InprocFlagProvider, Microsoft.IT.Security.ItaLite.PolicySetProvider" />
    </Providers>
  </EnforcementProvider>
  <!-- End of required section to configure in-proc flag policy provider to decouple from DB policy data source -->
  <appSettings>
    
    <!--Customer config for ITALite starts here-->
    <!--Common config-->
    <add key="storageConnection" value="QueueEndpoint=https://jianwstorage.queue.core.chinacloudapi.cn/;TableEndpoint=https://jianwstorage.table.core.chinacloudapi.cn/;AccountName=jianwstorage;AccountKey=If7+5Dn3iCvQ/cf65C4aSIAStnIIaBhS8kZUNZJ9L6DS60HYkAhwrA3d8Oo5QyOtyTf0GUcU2D3iIDQfpJ8Xjg==" />
    <add key="azureSubscriptionID" value="b678e72a-6b37-42e4-90f4-9b701eebf907"/> <!--for RBAC/RM-->
    <add key="tableNamePrefix" value="ITALiteDev" />
    <!--AAD Web app Info, used for parsing AAD info-->
    <add key="TenantName" value="cecccic.partner.onmschina.cn"/>
    <add key="TenantId" value="99d86385-9b07-4221-9a3a-facb274186b5"/>
    <add key="ClientId" value="1733a1d8-f282-4fb0-a6ee-388dd7c5cab7"/>
    <add key="ClientSecret" value="vlMFYLZ1t409MTLnJ2i5Rb+QJxuRvaGW3bapMgUuGkA="/>
    <!--AAD Native App Info, used for parsing RBAC info, should be registered in AAD managing Azure subscription -->
    <add key="_aadTenantDomain" value="cecccic.partner.onmschina.cn"/>
    <add key="_aadClientId" value="99be9511-15d5-4b50-ae13-9a54aa924f61"/>
    <add key="CoAdminUser" value="itadebug@cecccic.partner.onmschina.cn"/>
    <add key="CoAdminPassword" value="User@123"/>
    <!--Customer config for ITALite ends here-->
    
    
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- Start of ITA lite required configs -->
    <add key="ConfigurationProviders" value="AppSettings" />
    <add key="ComponentPath" value="Enforcement" />
    <add key="EnforcementPath" value="Enforcement" />
    <add key="Enforcement/DisableAudit" value="true" />
    <add key="Enforcement/MaxThreads" value="100" />
    <add key="Enforcement/ThreadAbortPollingTime" value="10" />
    <add key="Enforcement/UseCacheForPolicySet" value="false" />
    <add key="Enforcement/EnableEnforcementPerformanceCounters" value="false" />
    <add key="Enforcement/ControlThreadCount" value="false" />
    <!-- Hack to avoid calling AD to parse realm -->
    <add key="DoNotParseSubject" value="true" />
    <!-- End of ITA lite required configs -->
  </appSettings>

  <!-- Start of workaround Microsoft.IT.Core.dll version match problem, without this it reports warning and then runtime error in execution -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IT.Core" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- End of workaround Microsoft.IT.Core.dll version match problem, without this it reports warning and then runtime error in execution -->

</configuration>